<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spring Hello World</display-name>
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>springDispatcher</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/spring-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paramip</display-name>
    <servlet-name>Paramip</servlet-name>
    <servlet-class>com.ilmu.cataloging.Paramips.Paramip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paramip</servlet-name>
    <url-pattern>/Paramip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertToMarc</display-name>
    <servlet-name>ConvertToMarc</servlet-name>
    <servlet-class>com.ilmu.cataloging.Paramips.ConvertToMarc</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Direct2</display-name>
    <servlet-name>Direct2</servlet-name>
    <servlet-class>com.wilmu.fpx.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Direct2</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>InsertRequestCtrl</display-name>
    <servlet-name>InsertRequestCtrl</servlet-name>
    <servlet-class>InsertRequestCtrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirectTest</servlet-name>
    <jsp-file>/WEB-INF/index2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectTest</servlet-name>
    <url-pattern>/directTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Direct</servlet-name>
    <jsp-file>/WEB-INF/jsp/module/fpx/direct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Direct</servlet-name>
    <url-pattern>/directQWERTY</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indirect</servlet-name>
    <jsp-file>/WEB-INF/jsp/module/fpx/indirect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indirect</servlet-name>
    <url-pattern>/indirectQWERTY</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reject</servlet-name>
    <jsp-file>/WEB-INF/jsp/module/Reject/01_Reject/Reject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentProcess</servlet-name>
    <jsp-file>/WEB-INF/jsp/module/fpx/PaymentProcess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcess</servlet-name>
    <url-pattern>/PaymentProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConvertToMarc</servlet-name>
    <url-pattern>/ConvertToMarc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertRequestCtrl</servlet-name>
    <url-pattern>/InsertRequestCtrl</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>12000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>GetUPDREF</display-name>
    <servlet-name>GetUPDREF</servlet-name>
    <servlet-class>com.wilmu.fpx.GetUPDREF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUPDREF</servlet-name>
    <url-pattern>/GetUPDREF</url-pattern>
  </servlet-mapping>



  <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/module/ROOT/error404.jsp</location>
    </error-page>
</web-app>