<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to Payment</title>
    <script type="text/javascript">
        window.onload = function() {
            document.forms['confirm'].submit();
        }
    </script>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2>Redirecting to Payment Gateway...</h2>
        <p>Please wait while we redirect you to the payment page.</p>
        <form id="confirm" name="confirm" method="post" th:action="${paymentUrl}">
            <table>
                <tr>
                    <td>
                        <label style="display:none">
                            <input type="hidden" name="token" th:value="${token}" />
                        </label>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html> 