<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spring Hello World</display-name>
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>springDispatcher</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/spring-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://liferay.com/tld/theme</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/ui</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Paramip</display-name>
    <servlet-name>Paramip</servlet-name>
    <servlet-class>com.ilmu.cataloging.Paramips.Paramip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paramip</servlet-name>
    <url-pattern>/Paramip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertToMarc</display-name>
    <servlet-name>ConvertToMarc</servlet-name>
    <servlet-class>com.ilmu.cataloging.Paramips.ConvertToMarc</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>InsertRequestCtrl</display-name>
  	<servlet-name>InsertRequestCtrl</servlet-name>
  	<servlet-class>InsertRequestCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetDisplayRequestCtrl</display-name>
  	<servlet-name>GetDisplayRequestCtrl</servlet-name>
  	<servlet-class>com.wilmu.aquisition.data.GetDisplayRequestCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPatronDept</servlet-name>
  	<!--<description></description>-->
  	<servlet-class>com.wilmu.global.patron.GetPatronDept</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckAccNo</display-name>
  	<servlet-name>CheckAccNo</servlet-name>
  	<servlet-class>com.wilmu.cataloging.global.CheckAccNo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>InsertReceiving</display-name>
  	<servlet-name>InsertReceiving</servlet-name>
  	<servlet-class>com.wlimu.acquisition.receiving.data.InsertReceiving</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAccNo</display-name>
  	<servlet-name>GetAccNo</servlet-name>
  	<servlet-class>com.wilmu.cataloging.global.GetAccNo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAccessionNo</display-name>
  	<servlet-name>GetAccessionNo</servlet-name>
  	<servlet-class>com.wilmu.cataloging.global.process.GetAccessionNo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RetrieveCatBibByMatno</display-name>
  	<servlet-name>RetrieveCatBibByMatno</servlet-name>
  	<servlet-class>com.wilmu.cataloging.bibliographic.process.RetrieveCatBibByMatno</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RetrieveAccessionDetails</display-name>
  	<servlet-name>RetrieveAccessionDetails</servlet-name>
  	<servlet-class>com.wilmu.cataloging.global.process.RetrieveAccessionDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchReserveDetails</display-name>
  	<servlet-name>SearchReserveDetails</servlet-name>
  	<servlet-class>com.wilmu.reservecollection.process.SearchReserveDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>InsertReserveCollection</display-name>
  	<servlet-name>InsertReserveCollection</servlet-name>
  	<servlet-class>com.wilmu.reservecollection.process.InsertReserveCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvertToMarc</servlet-name>
    <url-pattern>/ConvertToMarc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertRequestCtrl</servlet-name>
  	<url-pattern>/InsertRequestCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDisplayRequestCtrl</servlet-name>
  	<url-pattern>/GetDisplayRequestCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPatronDept</servlet-name>
  	<url-pattern>/GetPatronDept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckAccNo</servlet-name>
  	<url-pattern>/CheckAccNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertReceiving</servlet-name>
  	<url-pattern>/InsertReceiving</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAccNo</servlet-name>
  	<url-pattern>/GetAccNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAccessionNo</servlet-name>
  	<url-pattern>/GetAccessionNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetrieveCatBibByMatno</servlet-name>
  	<url-pattern>/RetrieveCatBibByMatno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetrieveAccessionDetails</servlet-name>
  	<url-pattern>/RetrieveAccessionDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchReserveDetails</servlet-name>
  	<url-pattern>/SearchReserveDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertReserveCollection</servlet-name>
  	<url-pattern>/InsertReserveCollection</url-pattern>
  </servlet-mapping>
</web-app>