<!DOCTYPE html>
<html> 
<body>
    <form th:action="@{/membership-renewal-service}" method="POST" id="myForm">
        <input type="hidden" name="username" id="username" value="default"/> 
    </form>

    <script type="text/javascript"> 
    function loadForm() {
        // Simply set a default value and submit
        document.getElementById('myForm').submit(); 
    }
    
    // Use both methods to ensure it runs
    if (document.readyState === 'complete') {
        loadForm();
    } else {
        window.addEventListener("load", loadForm);
    }
    </script>
</body>
</html>